@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-------body--------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
   /*-------------nav bar css---------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
     padding: 10px 20px;
     color:#fff;
}
.nav-country{
    display: flex;
    align-items: end;
    margin-left:15px ;
    font-size: 10px;
    color: #c4c4c4;
}
.nav-country img{
     width: 25px;
     margin-bottom: 8px;
     margin-right: 3px;
}
.nav-country h1{
   color: white;
   font-size: 16px; 
}
.search{
   flex: 1;
   display: flex;
   align-items: center;
   background:#fff; 
   color: gray;
   max-width: 1000px;
   border-radius: 4px;
   margin-left: 15px;
}
.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 2px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;

}
.search-input{
    border: none;
    outline: none;
     padding: 10;
    width:100%;

}
.nav-search-icon{
    max-width: 40px;
    padding: 8px;
    background: yellow;
    border-radius: 0 4px 4px 0;
}
.language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 300;
    margin-left: 12px;

}
.language img{
    max-height: 12px;
}
.nav-text{
    margin-left: 20px;
   
}
.nav-text  p{
       font-size: 13px;
       cursor: pointer;
}
.nav-text h1{
    font-size: 16px;
}
.cart{
    display: flex;
    align-items: center;
    margin: 0px 30px;
}
 /*-------------nav bar css end---------*/
 .nav-bottom{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
    cursor:pointer
 }
 .nav-bottom div{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
   
 }
 .header-slider ul{
    display: flex;
    overflow-y: hidden;
 }
 .header-slider .image-header {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
 }
 .header-slider a{
    position: absolute;
    top: 25%;
    z-index: 1;
    padding: 2vh 1vw;
    background:  #ffffff4f;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

 }
 .control_next{
    right: 0;
 }
 /*------------Slider Css End-------------*/


 /*-------------boxes under slider------------*/
 .box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content:space-between;
    margin: 10px 40px;
 }
 .box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 30px;
    background: #fff;
    max-width:20% ;
    min-height:250px;
 }
 .box-col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500; 
 }
 .header-box{
    margin-top: -20vw;
 }

 /*--under the boxes product scroll bar--*/
 .product-slider{
    background: #fff;
    margin: 0 30px;
     padding: 20px ;
     margin-bottom: 15px;  
 }
 .product-slider .products{
     display: flex;
     overflow-x: auto;
     gap: 30px;
     margin-top: 10px;
 }
 .product-slider .products img{
   max-width: 200px;
   max-height:200px;
 }
 .product-slider .products::-webkit-scrollbar{
   display: none;
 }
 /*------------price-slider deals under bar---------*/


 .product-slider-withprice{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;

 }
 .product-slider-withprice .products{
    display:flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
 }
 .product-slider-withprice .products::-webkit-scrollbar{
    display: none;
 }
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb; 
}
.product-card img{
    width: 150px;
    margin: 0 50px;
} 
.product-offer p{
    background:#be0b3b ;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}
.product-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product-price{
    color: gray;
    font-size: 13px;

}
.product-price h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #131921;
    padding: 20px 60px;
}
